*.class
.idea/
*.idea
*.iml
*.ipr
# Mobile Tools for Java (J2ME)
.mtj.tmp/
target/
# Package Files #
*.jar
*.war
*.ear
activemq-data/
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.vertx
dependency-reduced-pom.xml
.project
.classpath
.settings
doc/
lib/
file-uploads/
${conf:service.requestLog}
logs/
